## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<div class="container">
    <div class="row">
        <div class="panel-heading"></div>
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Identifiant</th>
                <th>Libellé</th>
                <th>Durée</th>
                <th>Date</th>
                <th>Intensité</th>
              </tr>
            </thead>
            <tbody>
            %for eruption in eruptions:
              <tr>
                <td rowspan="2">${eruption.id}</td>
                <td>${eruption.libelle}</td>
                <td>${eruption.duree}</td>
                <td>${eruption.date}</td>
                <td>${eruption.intensite}</td>				
              </tr>
            %endfor
            </tbody>
          </table>
        </div>

    </div>
</div>
</%block>
