## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<div class="container">
    <form action="/evenements/add/" method="post">
        <div class="form-group">
            <label for="libelle">Libellé :</label>
            <input type="text" class="form-control" id="libelle" name="libelle">
            <label for="dateDeb">Date de début :</label>
            <input type="text" class="form-control" id="dateDeb" name="dateDeb">
            <label for="dateFin">Date de fin :</label>
            <input type="text" class="form-control" id="dateFin" name="dateFin">
            <label for="pays">Pays :</label>
            <input type="text" class="form-control" id="pays" name="pays">
            <label for="departement">Département :</label>
            <input type="text" class="form-control" id="departement" name="departement">
        </div>
        <input type="submit" class="btn btn-success">
    </form>
</div>
</%block>